@{
    ViewBag.Title = "Hair Care";
}

<div class="container">
    <br />
    <div class="section">
        <hr />
        <center><h2 class="section-title">Hair Care</h2></center>
        <hr />

        <div class="row align-items-stretch">
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/hair1.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Hair Care 1</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/hair2.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Hair Care 2</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/hair3.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Hair Care 3</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/hair4.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Hair Care 4</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
