@{
    ViewBag.Title = "Home Page";
}
<script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>

<style>
    .carousel-item img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .destination-card {
        /*max-width: 400px;*/
        margin-bottom: 20px;
    }

        .destination-card img {
            max-width: 100%;
            height: auto;
        }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/main1.jpg" alt="Image 1">
        </div>
        <div class="carousel-item">
            <img src="~/images/makeup1.jpg" alt="Image 2">
        </div>
        <div class="carousel-item">
            <img src="~/images/skincare1.jpg" alt="Image 3">
        </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<main>
    <br />


    <div class="container">
        <hr />

        <h3 class="float-center">Featured Products</h3>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="card destination-card">
                    <a href="https://www.lorealparisusa.com/beauty-magazine">
                        <img src="~/images/makeup (1).PNG" class="img" alt="Makeup Product 1">
                        <div class="card-body">
                            <h5 class="card-title">Makeup Product 1</h5>
                            <p class="card-text">Try the new makeup product.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card destination-card">
                    <a href="https://www.lorealparisusa.com/my-offers">
                        <img src="~/images/skin1.PNG" alt="Makeup Product 2">
                        <div class="card-body">
                            <h5 class="card-title">Makeup Product 2</h5>
                            <p class="card-text">Try the new makeup product.</p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Add more destination cards here -->

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 box-shadow">
                <a href="@Url.Action("Makeup", "Home")">
                    <img class="card-img-top" src="~/images/makeup.jpg">
                    <div class="card-body">
                        <h4>Makeup</h4>
                        <p class="card-text">Explore makeup section.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 box-shadow">
                <a href="@Url.Action("SkinCare", "Home")">
                    <img class="card-img-top" src="~/images/skincare.jpg">
                    <div class="card-body">
                        <h4>Skin Care </h4>
                        <p class="card-text">Explore Skin Care section.</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 box-shadow">
                <a href="@Url.Action("HairCare", "Home")">
                    <img class="card-img-top" src="~/images/haircare.jpg">
                    <div class="card-body">
                        <h4>Hair Care </h4>
                        <p class="card-text">Explore Hair Care section.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>