@{
    ViewBag.Title = "Skin Care";
}

<div class="container">
    <br />
    <div class="section">
        <hr />
        <center><h2 class="section-title">Skin Care</h2></center>
        <hr />

        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <img src="~/images/skincare.jpg" class="img-fluid mx-auto" alt="Skin Care">
            </div>
        </div>
    </div>

    <br />

    <div class="section">
        <hr />
        <h2 class="section-title">Locations</h2>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <img src="~/images/skin1.png" class="img-fluid mx-auto" alt="Skin Care">
                <h3>Product 1</h3>
            </div>
            <div class="col-md-4">
                <img src="~/images/skin2.png" class="img-fluid mx-auto" alt="Skin Care">
                <h3>Product 2</h3>
            </div>
            <div class="col-md-4">
                <img src="~/images/skin3.png" class="img-fluid mx-auto" alt="Skin Care">
                <h3>Product 3</h3>
            </div>
        </div>
    </div>
    <br />
</div>
